.footer{
    height: 60px;
    box-shadow: 12 0 4px 0 rgba(0,0,0,.1);
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:black;
    .wrap{
        max-width: 1500px;
        position: absolute;
      
        color: white;
    }
}